<h1>Add a New Toy</h1>
<%= simple_form_for @toy do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: ["Educational Toys", "Outdoor & Sports Toys", "Creative & Art Toys", "Action Figures & Dolls"] %>
  <%= f.input :condition, collection: ["New", "Excellent", "Good", "Used"] %>
  <%= f.input :need_in_return %>
  <%= f.input :image, as: :file %>
  <%= f.button :submit, "Create Toy" %>
<% end %>
