
<div class="form-container">
  <h1 class="centered-heading">Add New Toy</h1>
  <%= simple_form_for(@toy, html: { class: 'form-horizontal form-container' }) do |f| %>
    <div class="form-group row">
      <%= f.input :name, label: 'Toy Name', input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group row">
      <%= f.input :description, input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group row">
      <%= f.input :location, label: 'Toy Location', input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group row">
      <%= f.input :category, collection: ["Educational Toys", "Outdoor & Sports Toys", "Creative & Art Toys", "Action Figures & Dolls"], input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group row">
      <%= f.input :condition, collection: ["New", "Excellent", "Good", "Used"], input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group row">
      <%= f.input :need_in_return,collection: ["Educational Toys", "Outdoor & Sports Toys", "Creative & Art Toys", "Action Figures & Dolls"], input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group row">
      <%= f.input :photo, as: :file, input_html: { class: 'form-control col-md-6' } %>
    </div>

    <div class="form-group text-center">
      <%= f.button :submit, "Add Toy", class: 'btn-submit' %>
    </div>

  <% end %>
</div>
