<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "img-fluid", style: "width: 75px; height: 75px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <!-- Categories -->
          <li class="nav-item">
            <%= link_to "Educational Toys", toys_path(category: "Educational Toys"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Outdoor & Sports Toys", toys_path(category: "Outdoor & Sports Toys"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Creative & Art Toys", toys_path(category: "Creative & Art Toys"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Action Figures & Dolls", toys_path(category: "Action Figures & Dolls"), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add New Toy", new_toy_path, class: "btn btn-primary ms-2" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", toys_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "Educational.png", class: "avatar me-5", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <%= link_to "dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
