<div class="container-dashboard mt-4">
  <h1 class="text-center mb-4">Dashboard</h1>

  <!-- Toys Requested Section -->
  <div class="card-dashboard shadow-sm mb-4">
    <div class="card-header-h1">
      <h3 class="mb-0">Toys that you Requested</h3>
    </div>
    <div class="card-seeking-toys">
      <% if current_user.trades_as_seeker.any? %>
        <div class="row-dashboard">
          <% current_user.trades_as_seeker.each do |trade| %>
            <%= link_to trade_path(trade), class: "text-decoration-none text-dark" do %>
              <div class="card-seekingtoys mb-3 p-2">
                <div class="card-seekingtoy-info d-flex align-items-center justify-content-between">
                  <h5 class="card-seekingtoy-title"><%= trade.trader_toy.name %></h5>
                  <p class="card-status-text"><strong>Status:</strong> <%= trade.status.capitalize %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="text-muted">You haven't requested any trades yet.</p>
      <% end %>
    </div>
  </div>

  <!-- Toys Being Traded Section -->
  <div class="card-dashboard shadow-sm">
    <div class="card-header-h1">
      <h3 class="mb-0">Toys that you are Trading</h3>
    </div>
    <div class="card-trading-toys">
      <% if current_user.trades_as_trader.any? %>
        <div class="row-dashboard">
          <% current_user.trades_as_trader.each do |trade| %>
            <%= link_to trade_path(trade), class: "text-decoration-none text-dark" do %>
              <div class="card-tradingtoys mb-3 p-2">
                <div class="card-tradingtoy-info d-flex align-items-center justify-content-between">
                  <h5 class="card-tradingtoy-title">A user seeking <%= trade.seeker_toy.name %> would like to trade for <%= trade.trader_toy.name %></h5>
                  <p class="card-status-text"><strong>Status:</strong> <%= trade.status.capitalize %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p class="text-muted">No one has requested your toys for trade yet.</p>
      <% end %>
    </div>
  </div>
</div>
