<div class= "trade-container">
  <div class="trade-details">
    <h3>Trade Details</h3>
    <% if current_user == @trade.seeker %>
      <div class="toy-image-container">
        <%= image_tag @trade.trader_toy.photo, class: "toy-image rounded" if @trade.seeker_toy.photo.attached? %>
      </div>
      <div class="toy-details-display">
        <h1><%= @trade.trader_toy.name %></h1>
        <p><strong>Condition:</strong> <%= @trade.seeker_toy.condition %></p>
        <p><strong>Owned by:</strong> <%= link_to @trade.trader.username, user_path(@trade.trader), class: "user-link" %></p>
      </div>
    <% else %>
      <div class="toy-image-container">
        <%= image_tag @trade.seeker_toy.photo, class: "toy-image rounded" if @trade.trader_toy.photo.attached? %>
      </div>
      <div class="toy-details-display">
        <h3><strong><%= @trade.seeker_toy.name %></strong></h5>
        <p><strong>Condition:</strong> <%= @trade.trader_toy.condition %></p>
        <p><strong>Owned by:</strong> <%= link_to @trade.seeker.username, user_path(@trade.seeker), class: "user-link" %></p>
      </div>
    <% end %>

    <% if current_user == @trade.trader %>
    <div class="trade-actions">
      <%= button_to "Accept", accept_trade_path(@trade), method: :patch, class: "btn accept-button", disabled: @trade.status != "pending" %>
      <%= button_to "Reject", reject_trade_path(@trade), method: :patch, class: "btn reject-button", disabled: @trade.status != "pending" %>
    </div>
  <% end %>
  </div>



  <div class="container chat">
    <div class="chat-header">
      <% other_user = current_user == @trade.seeker ? @trade.trader : @trade.seeker %>

      <div class="chat-profile-container">
        <%= image_tag(url_for(other_user.photo), class: "chat-profile-pic rounded-circle", alt: other_user.username, width: 40, height: 40) if other_user.photo.attached? %>
      </div>

      <h1 class="chat-title">
        Your Trade for <%= current_user == @trade.seeker ? @trade.trader_toy.name : @trade.seeker_toy.name %>
      </h1>
    </div>
    <%= turbo_stream_from "trade_#{@trade.id}_messages" %>
    <div id="messages" class="messages">
      <% @trade.messages.each do |message| %>
        <%= render "messages/message", message: message, user: current_user %>
      <% end %>
    </div>
    <%= simple_form_for [@trade, @message],
        html: {class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
        %>
      <% other_user = current_user == @trade.seeker ? @trade.trader : @trade.seeker %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{other_user.username}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
